body {
    margin: 1in auto 1in auto;
    width: min(30em, calc(100% - 64px));
}

.title {
    font-family: "Roboto", sans-serif;
    font-size: 40pt;
    font-weight: 300;
    margin: 0;
}

.subtitle {
    font-family: "Roboto", sans-serif;
    font-size: 16pt;
    font-weight: 300;
    margin-top: 8px;
    margin-bottom: 32px;
}

p {
    font-family: "Roboto", sans-serif;
    font-size: 14pt;
}

table {
    border-collapse: collapse;
    margin-bottom: 32px;
}

td, th {
    border: 1px solid black;
    padding: 8px;
    font-family: "Roboto", sans-serif;
    font-size: 14pt;
}

tr:nth-child(even) {
    background-color: #eef;
}

