body {
    font-family: "Garamond", Georgia, serif;
    font-size: 16pt;
    margin: 1in auto 1in auto;
    width: min(30em, calc(100% - 64px));
    line-height: 1.35;
}

.options li a {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.options li {
    margin-top: 16px;
    margin-bottom: 16px;
}

.options li::marker {
    content: "\25B7 ";
}



